.news-cont {
    display: flex;
    align-items:center;
   
    flex-direction:column; 
  }
  
  .group1 {
    margin-right: 20px; 
    display:flex;
    padding-left: 20px;
    padding-right: 20px;
    height:100px;
  }
  
  .group2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;  
  }

  label {
    margin-bottom: 8px;
  }
  
  input, textarea {
    margin-bottom: 16px;
    padding: 8px;
  }

  @media only screen and (max-width: 600px) {
    .news-cont {
      height: auto;
    }
  
    .group1,
    .group2 {
      padding: 10px;
    }
  }
  
  /* Media query for medium screens */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    .group1,
    .group2 {
      padding: 15px;
    }
  }
  
 
 