.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    margin-top: 50px;
    padding: 30px;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
.faq_cont {
    display:flex;
}
.decor{
    margin-top: 50px;
    padding: 30px;
    width: 40%;
    
}
@media screen and (max-width: 768px) {
  .faq_cont {
      flex-direction: column;
  }

  .hero {
      width: 100%;
  }

  .decor {
      width: 100%;
      margin-top: 20px;
  }
}
  
  