.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    margin-top: 50px;
    padding: 30px;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
    
  }
.faq_cont {
    display: flex;
  
  overflow: hidden;
  
}
.decor{
    margin-top: 50px;
    padding: 30px;
    width: 40%;
    
}
.master2 {
    max-height: 70vh; 
    overflow-y: auto;
    position:relative;
    gap:30px;
   
  }
  
  @media screen and (min-width: 769px) {
    .faq_cont {
      display: flex;
    }
  
    .hero {
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      height: 100vh;
    }
  
    .decor {
      width: 40%;
    }
  }
  
  /* Media query for mobile devices and smaller screens */
  @media screen and (max-width: 768px) {
    .faq_cont {
      flex-direction: column;
    }
  
    .hero {
      width: 100%;
    }
  
    .decor {
      width: 100%;
      margin-top: 20px;
    }
  }
  
  